# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SlAi.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Code\unrealengine\SlAi\SlAi\.idea\.idea.SlAi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
